@model IEnumerable<ProjectTrash.Models.AccountSubscription>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isSuspended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suspensionStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suspensionEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isSuspended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suspensionStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suspensionEndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
